<html lang="en">
<div class="wrapper"></div>
{{!-- HEADER --}}
{{>head}}

{{>navbar}}

<body>
    {{!-- NAVBAR --}}
    <div class="container">
        {{!-- BODY --}}
        {{{body}}}
    </div>

    {{!-- FOOTER --}}
    {{>footer}}

</body>

</html>