<div class="container">
    <h1>Uy sharoitida davolanish:</h1>
    <p style="font-size: 20px; line-height: 40px;">
        1. Tanaffus qiling: dam olish uchun tinch va qorong'i xona toping. Ko'zingizni yuming va dam olishga harakat
        qiling. <br>
        2. Sovuq yoki iliq kompress qo'ying: Og'riqni engillashtirish uchun peshonangizga yoki bo'yningizga sovuq yoki
        iliq
        mato
        qo'ying. <br>
        3. Hudratsiz bo'ling: suvsizlanish ba'zida bosh og'rig'iga olib kelishi mumkin. Kun davomida ko'p miqdorda suv
        iching. <br>
        4. Retseptsiz og'riq qoldiruvchi vositalarni sinab ko'ring: Ibuprofen yoki asetaminofen kabi dorilar bosh
        og'rig'ini
        engillashtirishga yordam beradi. Tavsiya etilgan dozaga rioya qiling. <br>
        5. Relaksatsiya usullarini mashq qiling: Chuqur nafas olish mashqlari, meditatsiya yoki yumshoq cho‘zish bosh
        og‘rig‘i
        alomatlarini kamaytirishga yordam beradi.
    </p>
</div>

<style>
    body {
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(119deg, #D8D2FC 17.58%, #D8D2FC 17.58%, #D8D2FC 17.59%, #FDE2E0 41.89%, #E6E4EA 68%, #E0E9F4 103.34%, rgba(230, 225, 232, 0.00) 103.35%, #E0E9F4 103.35%);
    }

    .container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-left: 90px;
    }
</style>