<div class="container">
    <div class="list">
        <div class="card-1">
            <img src="https://vn.20minut.ua/img/cache/reference/news/0024/51/2350377-grip-atakue-za-tizhden-zahvorili-3-700-ditey-rayoni-de-naybilshe-spalahiv.jpeg"
                alt="">
            <h1 class="kasallik">Grip</h1>
            <h3 class="text-cut">Antibiotiklar faqat ikkilamchi bakterial kasalliklar mavjud bo’lgandagina buyuriladi,
                ular viruslarga qarshi umuman
                samara bermaydi, lekin ko’pincha xalq orasida shamollash yoki gripp almatlari kuzatilganda shifokor
                ko’rsatmasisiz
                antibiotiklarni qabul qilish keng tarqalgan. Antibiotiklarni viruslarga qarshi qabul qilish nafaqat
                samara bermaydi,
                balki bakteriyalarning antibiotiklarga qarshiligini oshiradi.
            </h3>
            <div class="text-end">
                <a href="/grip">
                    <button class="green">Batafsil</button>
                </a>
            </div>
        </div>
        <div class="card-1">
            <img src="https://telegra.ph/file/845e893787c94047c190d.jpg" alt="">
            <h1 class="kasallik">Kuyish</h1>
            <h3 class="text-cut">Kuyish dunyodagi to'satdan o'limning ikkinchi sababi bo'lib, bu qayg'uli statistik
                ma'lumotlarning
                birinchi navbatida
                yo'l-transport hodisasi hisoblanadi. Kuyish holatlarida sog'likka va hayotga xavf tug'dirish mumkin
                bo'lgan xavfni
                aniqlash uchun bunday jarohatlar qanday tasniflanganligini bilish yaxshi bo'ladi. Kuyish turlari,
                avvalambor, ularning
                kelib chiqishini aniqlaydi.
            </h3>
            <div class="text-end">
                <a href="/kuyish">
                    <button class="green">Batafsil</button>
                </a>
            </div>
        </div>
        <div class="card-1">
            <img src="https://i.ytimg.com/vi/rLj9qxWPjD0/maxresdefault.jpg" alt="">
            <h1 class="kasallik">Ko`z yoshlanishi</h1>
            <h3 class="text-cut">Chuqur nafas olish mashqlarini bajaring: Chuqur nafas olish ongingizni tinchlantirishga
                va stressni kamaytirishga yordam
                beradi, bu esa ko'z yoshlari paydo bo'lishiga yordam beradi. Buruningiz bilan sekin, chuqur nafas oling
                va og'zingiz
                bilan nafas oling.
            </h3>
            <div class="text-end">
                <a href="/yoshlanish">
                    <button class="green">Batafsil</button>
                </a>
            </div>
        </div>
        <div class="card-1">
            <img src="https://i.ytimg.com/vi/rLj9qxWPjD0/maxresdefault.jpg" alt="">
            <h1 class="kasallik">Ochiq yaralar qonashi</h1>
            <h3 class="text-cut">Yarani ko'taring: iloji bo'lsa, shikastlangan joyni yurak darajasidan yuqoriga
                ko'taring. Bu yaraga qon oqimini
                kamaytirish va qon ketishini kamaytirishga yordam beradi.
            </h3>
            <div class="text-end">
                <a href="/qonash">
                    <button class="green">Batafsil</button>
                </a>
            </div>
        </div>
        <div class="card-1">
            <img src="https://i.ytimg.com/vi/rLj9qxWPjD0/maxresdefault.jpg" alt="">
            <h1 class="kasallik">Tok urishi</h1>
            <h3 class="text-cut">Xavfsizligingizni ta'minlang: Agar kimdir elektr toki urishiga guvoh bo'lsangiz, unga
                to'g'ridan-to'g'ri tegmang. Odamga
                yaqinlashishdan oldin hudud xavfsiz va elektr toki bilan bog‘liq xavflar yo‘qligiga ishonch hosil
                qiling.
            </h3>
            <div class="text-end">
                <a href="/tok">
                    <button class="green">Batafsil</button>
                </a>
            </div>
        </div>
        <div class="card-1">
            <img src="https://i.ytimg.com/vi/rLj9qxWPjD0/maxresdefault.jpg" alt="">
            <h1 class="kasallik">Qattiq bosh og`rig`i</h1>
            <h3 class="text-cut">Sovuq yoki iliq kompress qo'ying: Og'riqni engillashtirish uchun peshonangizga yoki
                bo'yningizga sovuq yoki iliq mato
                qo'ying.
                3. Hudratsiz bo'ling: suvsizlanish ba'zida bosh og'rig'iga olib kelishi mumkin. Kun davomida ko'p
                miqdorda suv iching.
            </h3>
            <div class="text-end">
                <a href="/bosh-ogriq">
                    <button class="green">Batafsil</button>
                </a>
            </div>
        </div>
    </div>
</div>



<style>
    body {
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(119deg, #D8D2FC 17.58%, #D8D2FC 17.58%, #D8D2FC 17.59%, #FDE2E0 41.89%, #E6E4EA 68%, #E0E9F4 103.34%, rgba(230, 225, 232, 0.00) 103.35%, #E0E9F4 103.35%);
    }

    .container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-left: 90px;
    }

    .list {
        display: grid;
        grid-template-columns: auto auto;
        gap: 20px;
    }

    .list img {
        width: 600px;
        height: 400px;
        object-fit: cover;
    }

    .card-1 {
        background: white;
        padding: 20px;
        border-radius: 8px;
        margin-top: 40px;
    }

    .text-end {
        text-align: end;
    }

    .green {
        border-radius: 5px;
        padding: 15px 35px;
        border: none;
        background: transparent;
        background: #271E4A;
        color: #fff;
        cursor: pointer;
        border: 2px solid transparent;
        transition: .4s ease-in-out;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
    }

    .text-cut {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>