<div class="container">
    <h1>Uy sharoitida davolanish: Grip</h1>
    <p class="font-size: 20px; line-height: 40px;">1. Ko‘p dam oling: yetarlicha uxlash va tinchlanish orqali tanangiz
        tiklanishiga imkon bering.
        2. Suvsiz bo'ling: suvsizlanishning oldini olish uchun ko'p suyuqlik, masalan, suv, o'simlik choyi yoki tiniq
        bulonlarni
        iching.
        3. Retseptsiz dori-darmonlarni qabul qiling: atsetaminofen yoki ibuprofen kabi retseptsiz og'riq qoldiruvchi
        vositalar
        isitmani kamaytirishga, tana og'rig'ini va bosh og'rig'ini engillashtirishga yordam beradi. Tavsiya etilgan
        dozalash
        bo'yicha ko'rsatmalarga rioya qiling.
        4. Tiqishni engillashtiring: burun yo'llarini tozalashga yordam berish uchun sho'rlangan burun spreyi yoki
        burunni
        sug'orishdan foydalaning. Shuningdek, tiqilib qolishni bartaraf etish uchun retseptsiz sotiladigan
        dekonjestanlarni yoki
        bug‘ bilan inhalatsiyani ham sinab ko‘rishingiz mumkin.
        5. Iliq sho'r suv bilan chayqash: bu tomoq og'rig'ini tinchlantirishga yordam beradi. 1/4 dan 1/2 choy qoshiq
        tuzni 8
        untsiya iliq suvga aralashtirib, kuniga bir necha marta tomoqni yuving.
        6. Uyda qoling va gripp tarqalishining oldini oling: gripp tarqalishining oldini olish uchun to‘liq tuzalib
        ketguningizcha va yuqumli bo‘lmaguningizcha ishdan yoki maktabdan uyda qolish muhim.</p>
</div>

<style>
    body {
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(119deg, #D8D2FC 17.58%, #D8D2FC 17.58%, #D8D2FC 17.59%, #FDE2E0 41.89%, #E6E4EA 68%, #E0E9F4 103.34%, rgba(230, 225, 232, 0.00) 103.35%, #E0E9F4 103.35%);
    }

    .container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-left: 90px;
    }
</style>