<div class="container">
    <h1>Uy sharoitida davolanish: Kuyish</h1>
    <p class="font-size: 20px; line-height: 40px;">1. Kuyish manbasini olib tashlang: Agar buni qilish xavfsiz bo'lsa,
        issiqlik manbasidan uzoqroqqa chiqing yoki
        olovni
        o'chiring. <br>
        2. Kuyishni sovutib oling: shikastlangan joyni kamida 10 daqiqa davomida salqin (sovuq emas) suv ostida ushlab
        turing.
        Bu issiqlikni kamaytirishga va to'qimalarning shikastlanishini kamaytirishga yordam beradi. <br>
        3. To'zg'ib qo'yadigan narsalarni olib tashlang: Kuyish joyi yaqinida qattiq kiyim yoki zargarlik buyumlarini
        echib
        oling, chunki shish paydo bo'lishi mumkin. <br>
        4. Kuygan joyni yoping: Kuyish joyini bo'shashmasdan yopish uchun toza, yopishmaydigan kiyim yoki steril matodan
        foydalaning. Bu uni infektsiyadan himoya qilishga yordam beradi. <br>
        5. Retseptsiz og'riq qoldiruvchi vositalarni qabul qiling: Agar kerak bo'lsa, og'riqni engishga yordam beradigan
        atsetaminofen yoki ibuprofen kabi retseptsiz og'riq qoldiruvchi vositalarni qabul qilishingiz mumkin. Tavsiya
        etilgan
        dozaga rioya qiling.</p>
</div>

<style>
    body {
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(119deg, #D8D2FC 17.58%, #D8D2FC 17.58%, #D8D2FC 17.59%, #FDE2E0 41.89%, #E6E4EA 68%, #E0E9F4 103.34%, rgba(230, 225, 232, 0.00) 103.35%, #E0E9F4 103.35%);
    }

    .container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-left: 90px;
    }
</style>