<div class="container">
    <h1>Uy sharoitida davolanish: Ochiq yara qonashi</h1>
    <p class="font-size: 20px; line-height: 40px;">. 1/Bosim qo'ying: Yaraga to'g'ridan-to'g'ri bosim o'tkazish uchun
        toza mato yoki steril dokadan foydalaning. Qon
        ketishini to'xtatish uchun bir necha daqiqa davomida qattiq bosimni ushlab turing. Qon ketish to‘xtaganligini
        tekshirish
        uchun ko‘zdan kechirishdan saqlaning, chunki bu qon ivish jarayonini buzishi mumkin. <br>
        2. Yarani ko'taring: iloji bo'lsa, shikastlangan joyni yurak darajasidan yuqoriga ko'taring. Bu yaraga qon
        oqimini
        kamaytirish va qon ketishini kamaytirishga yordam beradi. <br>
        3. Yarani tozalang: Qon ketish to'xtagach yoki sezilarli darajada kamaygach, yarani yumshoq sovun va iliq suv
        bilan
        yaxshilab tozalang. Vodorod periks yoki spirtli ichimliklarni ishlatmang, chunki ular to'qimalarga zarar
        etkazishi
        mumkin. <br>
        4. Antiseptik qo'llang: yarani tozalagandan so'ng, infektsiyani oldini olish uchun antiseptik malham yoki
        eritmani
        qo'llang. To'g'ri qo'llash uchun qadoqdagi ko'rsatmalarga amal qiling.</p>
</div>

<style>
    body {
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(119deg, #D8D2FC 17.58%, #D8D2FC 17.58%, #D8D2FC 17.59%, #FDE2E0 41.89%, #E6E4EA 68%, #E0E9F4 103.34%, rgba(230, 225, 232, 0.00) 103.35%, #E0E9F4 103.35%);
    }

    .container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-left: 90px;
    }
</style>