<div class="container">
    <h1>Uy sharoitida davolanish: Tok urishi</h1>
    <p class="font-size: 20px; line-height: 40px;">1. Xavfsizligingizni ta'minlang: Agar kimdir elektr toki urishiga
        guvoh bo'lsangiz, unga to'g'ridan-to'g'ri
        tegmang.
        Odamga yaqinlashishdan oldin hudud xavfsiz va elektr toki bilan bog‘liq xavflar yo‘qligiga ishonch hosil qiling.
        <br>
        2. Quvvat manbaini uzing: Iloji bo'lsa, elektr toki urishiga olib keladigan quvvat manbasini darhol uzib
        qo'ying. Bu
        jihozni elektr tarmog'idan uzib qo'yish yoki hududdagi asosiy quvvat manbaini o'chirishni o'z ichiga olishi
        mumkin. <br>
        3. Yordamga qo'ng'iroq qiling: Agar odam hushidan ketsa, nafas olmasa yoki og'ir jarohatlar bo'lsa, darhol tez
        yordam
        chaqiring. Bunday vaziyatlarda professional tibbiy yordamga murojaat qilish muhim. <br>
        4. To'g'ridan-to'g'ri odamga tegmang: quvvat manbai uzilmaguncha, zarba bergan odamga tegmang. Quvvat manbasini
        uzib
        bo'lmasa, odamni elektr manbaidan xavfsiz olib tashlash uchun elektr tokini o'tkazmaydigan yog'och supurgi yoki
        rezina
        qo'lqopdan foydalaning. <br>
        5. Agar kerak bo'lsa, yurak massajini bajaring: Agar odam nafas olmasa yoki yurak urishi bo'lmasa va siz
        yurak-o'pka
        reanimatsiyasi (kardiopulmoner reanimatsiya) bo'yicha o'qitilgan bo'lsangiz, tibbiy yordam kelguniga qadar yurak
        massajini boshlashingiz mumkin.
    </p>
</div>

<style>
    body {
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(119deg, #D8D2FC 17.58%, #D8D2FC 17.58%, #D8D2FC 17.59%, #FDE2E0 41.89%, #E6E4EA 68%, #E0E9F4 103.34%, rgba(230, 225, 232, 0.00) 103.35%, #E0E9F4 103.35%);
    }

    .container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-left: 90px;
    }
</style>