<div class="container">
    <h1>Uy sharoitida davolanish: Ko`z yoshlanishi</h1>
    <p class="font-size: 20px; line-height: 40px;">1. Chuqur nafas olish mashqlarini bajaring: Chuqur nafas olish
        ongingizni tinchlantirishga va stressni
        kamaytirishga
        yordam beradi, bu esa ko'z yoshlari paydo bo'lishiga yordam beradi. Buruningiz bilan sekin, chuqur nafas oling
        va
        og'zingiz bilan nafas oling. <br>
        2. Tinchlantiruvchi mashg‘ulotlar bilan shug‘ullaning: kitob o‘qish, musiqa tinglash yoki iliq vanna qabul
        qilish kabi
        o‘zingizga taskin beruvchi mashg‘ulotlar bilan shug‘ullanish ongingizni chalg‘itishi va ko‘z yoshlarini
        kamaytirishi
        mumkin. <br>
        3. Emosional yordam so'rang: yaqinlaringiz bilan bog'laning yoki hissiy qo'llab-quvvatlash uchun terapevt yoki
        maslahatchi bilan gaplashing. O'z his-tuyg'ularingizni va tashvishlaringizni kimgadir baham ko'rish ko'z
        yoshlarini
        engillashtirishga yordam beradi. <br>
        4. Jismoniy mashqlar bilan shug'ullaning: Jismoniy mashqlar tabiiy kayfiyatni ko'taruvchi endorfinlarni
        chiqaradi. Yoga,
        raqsga tushish yoki sayrga chiqish kabi mashg‘ulotlar bilan shug‘ullanish kayfiyatingizni yaxshilashga va ko‘z
        yoshlarini kamaytirishga yordam beradi.</p>
</div>

<style>
    body {
        font-family: 'Poppins', sans-serif;
        background: linear-gradient(119deg, #D8D2FC 17.58%, #D8D2FC 17.58%, #D8D2FC 17.59%, #FDE2E0 41.89%, #E6E4EA 68%, #E0E9F4 103.34%, rgba(230, 225, 232, 0.00) 103.35%, #E0E9F4 103.35%);
    }

    .container {
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        margin-left: 90px;
    }
</style>